<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta property="og:title" content="MermerFB!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://fb.mermers.net/fb" />
    <meta property="og:image" content="http://isc.wcdn.co.il/w11/h/share.jpg" />
    <meta property="og:site_name" content="MermerFB!" />
    <meta property="fb:app_id" content="324858954337623" />
    <meta property="og:description" content="My Facebook App is so great!!"/>
    <link rel="canonical" href="http://fb.mermers.net/fb" />
    <title>MermerFB! title</title>
    <meta property="description" content="My Facebook App is so great!!"/>
</head>
<body>
<script>

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '324858954337623',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

<div>
<input type="text" name="share" id="share" />
<input type="button" name="submit" value="Share Link" onClick="
javascript:FB.ui(
  {
    method: 'share',
    href: document.getElementById('share').value,
  },
  function(response) {
    if (response && !response.error_code) {
      alert('Posting completed.');
    } else {
      alert('Error while posting.');
    }
  }
);">
</div>
<fieldset>
    <legend>Logout</legend>
<input type="button" name="logout" value="logout" onClick="
FB.logout(function(response) {
  // user is now logged out
  window.location = '{{ logout_action }}';
});
" />
</fieldset>

<form action="{{ post_action }}" method="POST">
    <fieldset>
    <legend>share a status:</legend>
    <input type="text" name="message">
    <input type="submit" value="share_status">
    <input type="hidden" name="wall_post" value="i">
    </fieldset>
</form>

<form enctype="multipart/form-data" action="{{ post_action }}" method="POST">
    <fieldset>
    <legend>upload a picture:</legend>
    Adding photo to album: {{ album_name }} <br/><br/>
    Please choose a photo: 
    <input name="pic" type="file"><br/><br/>
    Say something about this photo: 
    <input name="message" type="text" value=""><br/><br/>
    <input type="hidden" name="pic_post" value="i">
    <input type="submit" value="Upload" /><br/>
    </fieldset>
</form>

</body>
</html>
